:root {
  /** sunny side **/
  --blue-background: #c2e9f6;
  --blue-border: #72cce3;
  --blue-color: #96dcee;
  --yellow-background: #fffaa8;
  --yellow-border: #f5eb71;
  /** dark side **/
  --indigo-background: #808fc7;
  --indigo-border: #5d6baa;
  --indigo-color: #6b7abb;
  --gray-border: #e8e8ea;
  --gray-dots: #e8e8ea;
}

.theme-light {
  --dark-text: #5E4B56;
  --accent: #dbe7e4;
  --button-border: #5E4B56;
  --dark-background: #DBE7E4;
  --light-text: #5E4B56;
  --light-background: #EDDCD2;
}

/* --light-text is fine on on the first 3, --dark-text is fine on all of them, --dark-text and dark-background are fine as text on --accent */
.theme-dark {
  --dark-text: #292929;
  --dark-background: #2F4550;
  --light-background: #586F7C;
  --accent: #b8dbd9;
  --button-border: #b8dbd9;
  --light-text: #F9F8F8;
}

:root {
  --measure-breakpoint-small: 500px;
  --measure-breakpoint-medium: 856px;
  --measure-breakpoint-large: 1000px;
  --measure-breakpoint-gigantic: 1440px;
  --measure-gap: 1rem;
  --measure-gutter: 136px;
  --measure-small: 1rem;
  --measure-medium: 2rem;
  --measure-large: 3rem;
  --measure-xlarge: 4rem;
  --measure-border-default: 0.25rem;
  --measure-border-thin: 0.125rem;
  --measure-button-minimum: 40px;
  --measure-line-length: clamp(21em, 100vw, 30em);
  --opacity-ten: 0.1;
  --opacity-twenty: 0.2;
  --opacity-thirty: 0.3;
  --opacity-forty: 0.4;
  --opacity-fifty: 0.5;
  --opacity-sixty: 0.6;
  --opacity-seventy: 0.7;
  --opacity-eighty: 0.8;
  --opacity-ninety: 0.9;
  --color-gcu-blue: #003da6;
  --color-pale-blue: #a3cfff;
  --color-purple: #3e1e5f;
  --color-pink: #eb386b;
  --color-teal-green: #0cbaba;
  --color-olive-green: #b9be2f;
  --color-yellow: #fbe54e;
  --color-dark-grey: #444;
  --color-light-grey: #ddd;
  --color-white: #fff;
  --color-black: #2b2b2b;
  --color-transparent: rgba(0, 0, 0, 0);
  --color-gcu-blue-tint-1: #3364b8;
  --color-gcu-blue-tint-2: #5c83c6;
  --color-pale-blue-tint-1: #b5d9ff;
  --color-pale-blue-tint-2: #c4e0ff;
  --color-purple-tint-1: #654b7f;
  --color-purple-tint-2: #836f99;
  --color-pink-tint-1: #ef6089;
  --color-pink-tint-2: #f280a0;
  --color-teal-green-tint-1: #3dc8c8;
  --color-teal-green-tint-2: #63d3d3;
  --color-olive-green-tint-1: #c7cb59;
  --color-olive-green-tint-2: #d2d57a;
  --color-yellow-tint-1: #fcea71;
  --color-yellow-tint-2: #fcee8e;
  --color-dark-grey-tint-1: dimgray;
  --color-dark-grey-tint-2: #878787;
  --color-light-grey-tint-1: #f6f6f6;
  --color-light-grey-tint-2: #fff;
  --color-dark-grey-shade-2: #2c2c2c;
  --color-gcu-blue-shade-1: #003185;
  --color-gcu-blue-shade-2: #00276a;
  --color-pale-blue-shade-1: #82a6cc;
  --color-pale-blue-shade-2: #6884a3;
  --color-purple-shade-1: #32184c;
  --color-purple-shade-2: #28133d;
  --color-pink-shade-1: #bc2d56;
  --color-pink-shade-2: #962444;
  --color-teal-green-shade-1: #0a9595;
  --color-teal-green-shade-2: #087777;
  --color-olive-green-shade-1: #949826;
  --color-olive-green-shade-2: #767a1e;
  --color-yellow-shade-1: #c9b73e;
  --color-yellow-shade-2: #a19332;
  --color-dark-grey-shade-1: #363636;
  --color-light-grey-shade-1: #b1b1b1;
  --color-light-grey-shade-2: #8d8d8d;
  --color-gcu-blue--ten: rgba(92, 131, 198, 0.1);
  --color-gcu-blue--twenty: rgba(92, 131, 198, 0.2);
  --color-gcu-blue--thirty: rgba(92, 131, 198, 0.3);
  --color-gcu-blue--forty: rgba(92, 131, 198, 0.4);
  --color-gcu-blue--fifty: rgba(92, 131, 198, 0.5);
  --color-gcu-blue--sixty: rgba(92, 131, 198, 0.6);
  --color-gcu-blue--seventy: rgba(92, 131, 198, 0.7);
  --color-gcu-blue--eighty: rgba(92, 131, 198, 0.8);
  --color-gcu-blue--ninety: rgba(92, 131, 198, 0.9);
  --color-pale-blue--ten: rgba(196, 224, 255, 0.1);
  --color-pale-blue--twenty: rgba(196, 224, 255, 0.2);
  --color-pale-blue--thirty: rgba(196, 224, 255, 0.3);
  --color-pale-blue--forty: rgba(196, 224, 255, 0.4);
  --color-pale-blue--fifty: rgba(196, 224, 255, 0.5);
  --color-pale-blue--sixty: rgba(196, 224, 255, 0.6);
  --color-pale-blue--seventy: rgba(196, 224, 255, 0.7);
  --color-pale-blue--eighty: rgba(196, 224, 255, 0.8);
  --color-pale-blue--ninety: rgba(196, 224, 255, 0.9);
  --color-purple--ten: rgba(131, 111, 153, 0.1);
  --color-purple--twenty: rgba(131, 111, 153, 0.2);
  --color-purple--thirty: rgba(131, 111, 153, 0.3);
  --color-purple--forty: rgba(131, 111, 153, 0.4);
  --color-purple--fifty: rgba(131, 111, 153, 0.5);
  --color-purple--sixty: rgba(131, 111, 153, 0.6);
  --color-purple--seventy: rgba(131, 111, 153, 0.7);
  --color-purple--eighty: rgba(131, 111, 153, 0.8);
  --color-purple--ninety: rgba(131, 111, 153, 0.9);
  --color-pink--ten: rgba(242, 128, 160, 0.1);
  --color-pink--twenty: rgba(242, 128, 160, 0.2);
  --color-pink--thirty: rgba(242, 128, 160, 0.3);
  --color-pink--forty: rgba(242, 128, 160, 0.4);
  --color-pink--fifty: rgba(242, 128, 160, 0.5);
  --color-pink--sixty: rgba(242, 128, 160, 0.6);
  --color-pink--seventy: rgba(242, 128, 160, 0.7);
  --color-pink--eighty: rgba(242, 128, 160, 0.8);
  --color-pink--ninety: rgba(242, 128, 160, 0.9);
  --color-teal-green--ten: rgba(99, 211, 211, 0.1);
  --color-teal-green--twenty: rgba(99, 211, 211, 0.2);
  --color-teal-green--thirty: rgba(99, 211, 211, 0.3);
  --color-teal-green--forty: rgba(99, 211, 211, 0.4);
  --color-teal-green--fifty: rgba(99, 211, 211, 0.5);
  --color-teal-green--sixty: rgba(99, 211, 211, 0.6);
  --color-teal-green--seventy: rgba(99, 211, 211, 0.7);
  --color-teal-green--eighty: rgba(99, 211, 211, 0.8);
  --color-teal-green--ninety: rgba(99, 211, 211, 0.9);
  --color-olive-green--ten: rgba(210, 213, 122, 0.1);
  --color-olive-green--twenty: rgba(210, 213, 122, 0.2);
  --color-olive-green--thirty: rgba(210, 213, 122, 0.3);
  --color-olive-green--forty: rgba(210, 213, 122, 0.4);
  --color-olive-green--fifty: rgba(210, 213, 122, 0.5);
  --color-olive-green--sixty: rgba(210, 213, 122, 0.6);
  --color-olive-green--seventy: rgba(210, 213, 122, 0.7);
  --color-olive-green--eighty: rgba(210, 213, 122, 0.8);
  --color-olive-green--ninety: rgba(210, 213, 122, 0.9);
  --color-yellow--ten: rgba(252, 238, 142, 0.1);
  --color-yellow--twenty: rgba(252, 238, 142, 0.2);
  --color-yellow--thirty: rgba(252, 238, 142, 0.3);
  --color-yellow--forty: rgba(252, 238, 142, 0.4);
  --color-yellow--fifty: rgba(252, 238, 142, 0.5);
  --color-yellow--sixty: rgba(252, 238, 142, 0.6);
  --color-yellow--seventy: rgba(252, 238, 142, 0.7);
  --color-yellow--eighty: rgba(252, 238, 142, 0.8);
  --color-yellow--ninety: rgba(252, 238, 142, 0.9);
  --color-dark-grey--ten: rgba(135, 135, 135, 0.1);
  --color-dark-grey--twenty: rgba(135, 135, 135, 0.2);
  --color-dark-grey--thirty: rgba(135, 135, 135, 0.3);
  --color-dark-grey--forty: rgba(135, 135, 135, 0.4);
  --color-dark-grey--fifty: rgba(135, 135, 135, 0.5);
  --color-dark-grey--sixty: rgba(135, 135, 135, 0.6);
  --color-dark-grey--seventy: rgba(135, 135, 135, 0.7);
  --color-dark-grey--eighty: rgba(135, 135, 135, 0.8);
  --color-dark-grey--ninety: rgba(135, 135, 135, 0.9);
  --color-light-grey--ten: rgba(233, 233, 233, 0.1);
  --color-light-grey--twenty: rgba(233, 233, 233, 0.2);
  --color-light-grey--thirty: rgba(233, 233, 233, 0.3);
  --color-light-grey--forty: rgba(233, 233, 233, 0.4);
  --color-light-grey--fifty: rgba(233, 233, 233, 0.5);
  --color-light-grey--sixty: rgba(233, 233, 233, 0.6);
  --color-light-grey--seventy: rgba(233, 233, 233, 0.7);
  --color-light-grey--eighty: rgba(233, 233, 233, 0.8);
  --color-light-grey--ninety: rgba(233, 233, 233, 0.9);
  --color-gcu-blue-shade-1--ten: rgba(0, 49, 133, 0.1);
  --color-gcu-blue-shade-1--twenty: rgba(0, 49, 133, 0.2);
  --color-gcu-blue-shade-1--thirty: rgba(0, 49, 133, 0.3);
  --color-gcu-blue-shade-1--forty: rgba(0, 49, 133, 0.4);
  --color-gcu-blue-shade-1--fifty: rgba(0, 49, 133, 0.5);
  --color-gcu-blue-shade-1--sixty: rgba(0, 49, 133, 0.6);
  --color-gcu-blue-shade-1--seventy: rgba(0, 49, 133, 0.7);
  --color-gcu-blue-shade-1--eighty: rgba(0, 49, 133, 0.8);
  --color-gcu-blue-shade-1--ninety: rgba(0, 49, 133, 0.9);
  --color-gcu-blue-shade-2--ten: rgba(0, 39, 106, 0.1);
  --color-gcu-blue-shade-2--twenty: rgba(0, 39, 106, 0.2);
  --color-gcu-blue-shade-2--thirty: rgba(0, 39, 106, 0.3);
  --color-gcu-blue-shade-2--forty: rgba(0, 39, 106, 0.4);
  --color-gcu-blue-shade-2--fifty: rgba(0, 39, 106, 0.5);
  --color-gcu-blue-shade-2--sixty: rgba(0, 39, 106, 0.6);
  --color-gcu-blue-shade-2--seventy: rgba(0, 39, 106, 0.7);
  --color-gcu-blue-shade-2--eighty: rgba(0, 39, 106, 0.8);
  --color-gcu-blue-shade-2--ninety: rgba(0, 39, 106, 0.9);
  --color-pale-blue-shade-1--ten: rgba(130, 166, 204, 0.1);
  --color-pale-blue-shade-1--twenty: rgba(130, 166, 204, 0.2);
  --color-pale-blue-shade-1--thirty: rgba(130, 166, 204, 0.3);
  --color-pale-blue-shade-1--forty: rgba(130, 166, 204, 0.4);
  --color-pale-blue-shade-1--fifty: rgba(130, 166, 204, 0.5);
  --color-pale-blue-shade-1--sixty: rgba(130, 166, 204, 0.6);
  --color-pale-blue-shade-1--seventy: rgba(130, 166, 204, 0.7);
  --color-pale-blue-shade-1--eighty: rgba(130, 166, 204, 0.8);
  --color-pale-blue-shade-1--ninety: rgba(130, 166, 204, 0.9);
  --color-pale-blue-shade-2--ten: rgba(104, 132, 163, 0.1);
  --color-pale-blue-shade-2--twenty: rgba(104, 132, 163, 0.2);
  --color-pale-blue-shade-2--thirty: rgba(104, 132, 163, 0.3);
  --color-pale-blue-shade-2--forty: rgba(104, 132, 163, 0.4);
  --color-pale-blue-shade-2--fifty: rgba(104, 132, 163, 0.5);
  --color-pale-blue-shade-2--sixty: rgba(104, 132, 163, 0.6);
  --color-pale-blue-shade-2--seventy: rgba(104, 132, 163, 0.7);
  --color-pale-blue-shade-2--eighty: rgba(104, 132, 163, 0.8);
  --color-pale-blue-shade-2--ninety: rgba(104, 132, 163, 0.9);
  --color-purple-shade-1--ten: rgba(50, 24, 76, 0.1);
  --color-purple-shade-1--twenty: rgba(50, 24, 76, 0.2);
  --color-purple-shade-1--thirty: rgba(50, 24, 76, 0.3);
  --color-purple-shade-1--forty: rgba(50, 24, 76, 0.4);
  --color-purple-shade-1--fifty: rgba(50, 24, 76, 0.5);
  --color-purple-shade-1--sixty: rgba(50, 24, 76, 0.6);
  --color-purple-shade-1--seventy: rgba(50, 24, 76, 0.7);
  --color-purple-shade-1--eighty: rgba(50, 24, 76, 0.8);
  --color-purple-shade-1--ninety: rgba(50, 24, 76, 0.9);
  --color-purple-shade-2--ten: rgba(40, 19, 61, 0.1);
  --color-purple-shade-2--twenty: rgba(40, 19, 61, 0.2);
  --color-purple-shade-2--thirty: rgba(40, 19, 61, 0.3);
  --color-purple-shade-2--forty: rgba(40, 19, 61, 0.4);
  --color-purple-shade-2--fifty: rgba(40, 19, 61, 0.5);
  --color-purple-shade-2--sixty: rgba(40, 19, 61, 0.6);
  --color-purple-shade-2--seventy: rgba(40, 19, 61, 0.7);
  --color-purple-shade-2--eighty: rgba(40, 19, 61, 0.8);
  --color-purple-shade-2--ninety: rgba(40, 19, 61, 0.9);
  --color-pink-shade-1--ten: rgba(188, 45, 86, 0.1);
  --color-pink-shade-1--twenty: rgba(188, 45, 86, 0.2);
  --color-pink-shade-1--thirty: rgba(188, 45, 86, 0.3);
  --color-pink-shade-1--forty: rgba(188, 45, 86, 0.4);
  --color-pink-shade-1--fifty: rgba(188, 45, 86, 0.5);
  --color-pink-shade-1--sixty: rgba(188, 45, 86, 0.6);
  --color-pink-shade-1--seventy: rgba(188, 45, 86, 0.7);
  --color-pink-shade-1--eighty: rgba(188, 45, 86, 0.8);
  --color-pink-shade-1--ninety: rgba(188, 45, 86, 0.9);
  --color-pink-shade-2--ten: rgba(150, 36, 68, 0.1);
  --color-pink-shade-2--twenty: rgba(150, 36, 68, 0.2);
  --color-pink-shade-2--thirty: rgba(150, 36, 68, 0.3);
  --color-pink-shade-2--forty: rgba(150, 36, 68, 0.4);
  --color-pink-shade-2--fifty: rgba(150, 36, 68, 0.5);
  --color-pink-shade-2--sixty: rgba(150, 36, 68, 0.6);
  --color-pink-shade-2--seventy: rgba(150, 36, 68, 0.7);
  --color-pink-shade-2--eighty: rgba(150, 36, 68, 0.8);
  --color-pink-shade-2--ninety: rgba(150, 36, 68, 0.9);
  --color-teal-green-shade-1--ten: rgba(10, 149, 149, 0.1);
  --color-teal-green-shade-1--twenty: rgba(10, 149, 149, 0.2);
  --color-teal-green-shade-1--thirty: rgba(10, 149, 149, 0.3);
  --color-teal-green-shade-1--forty: rgba(10, 149, 149, 0.4);
  --color-teal-green-shade-1--fifty: rgba(10, 149, 149, 0.5);
  --color-teal-green-shade-1--sixty: rgba(10, 149, 149, 0.6);
  --color-teal-green-shade-1--seventy: rgba(10, 149, 149, 0.7);
  --color-teal-green-shade-1--eighty: rgba(10, 149, 149, 0.8);
  --color-teal-green-shade-1--ninety: rgba(10, 149, 149, 0.9);
  --color-teal-green-shade-2--ten: rgba(8, 119, 119, 0.1);
  --color-teal-green-shade-2--twenty: rgba(8, 119, 119, 0.2);
  --color-teal-green-shade-2--thirty: rgba(8, 119, 119, 0.3);
  --color-teal-green-shade-2--forty: rgba(8, 119, 119, 0.4);
  --color-teal-green-shade-2--fifty: rgba(8, 119, 119, 0.5);
  --color-teal-green-shade-2--sixty: rgba(8, 119, 119, 0.6);
  --color-teal-green-shade-2--seventy: rgba(8, 119, 119, 0.7);
  --color-teal-green-shade-2--eighty: rgba(8, 119, 119, 0.8);
  --color-teal-green-shade-2--ninety: rgba(8, 119, 119, 0.9);
  --color-olive-green-shade-1--ten: rgba(148, 152, 38, 0.1);
  --color-olive-green-shade-1--twenty: rgba(148, 152, 38, 0.2);
  --color-olive-green-shade-1--thirty: rgba(148, 152, 38, 0.3);
  --color-olive-green-shade-1--forty: rgba(148, 152, 38, 0.4);
  --color-olive-green-shade-1--fifty: rgba(148, 152, 38, 0.5);
  --color-olive-green-shade-1--sixty: rgba(148, 152, 38, 0.6);
  --color-olive-green-shade-1--seventy: rgba(148, 152, 38, 0.7);
  --color-olive-green-shade-1--eighty: rgba(148, 152, 38, 0.8);
  --color-olive-green-shade-1--ninety: rgba(148, 152, 38, 0.9);
  --color-olive-green-shade-2--ten: rgba(118, 122, 30, 0.1);
  --color-olive-green-shade-2--twenty: rgba(118, 122, 30, 0.2);
  --color-olive-green-shade-2--thirty: rgba(118, 122, 30, 0.3);
  --color-olive-green-shade-2--forty: rgba(118, 122, 30, 0.4);
  --color-olive-green-shade-2--fifty: rgba(118, 122, 30, 0.5);
  --color-olive-green-shade-2--sixty: rgba(118, 122, 30, 0.6);
  --color-olive-green-shade-2--seventy: rgba(118, 122, 30, 0.7);
  --color-olive-green-shade-2--eighty: rgba(118, 122, 30, 0.8);
  --color-olive-green-shade-2--ninety: rgba(118, 122, 30, 0.9);
  --color-yellow-shade-1--ten: rgba(201, 183, 62, 0.1);
  --color-yellow-shade-1--twenty: rgba(201, 183, 62, 0.2);
  --color-yellow-shade-1--thirty: rgba(201, 183, 62, 0.3);
  --color-yellow-shade-1--forty: rgba(201, 183, 62, 0.4);
  --color-yellow-shade-1--fifty: rgba(201, 183, 62, 0.5);
  --color-yellow-shade-1--sixty: rgba(201, 183, 62, 0.6);
  --color-yellow-shade-1--seventy: rgba(201, 183, 62, 0.7);
  --color-yellow-shade-1--eighty: rgba(201, 183, 62, 0.8);
  --color-yellow-shade-1--ninety: rgba(201, 183, 62, 0.9);
  --color-yellow-shade-2--ten: rgba(161, 147, 50, 0.1);
  --color-yellow-shade-2--twenty: rgba(161, 147, 50, 0.2);
  --color-yellow-shade-2--thirty: rgba(161, 147, 50, 0.3);
  --color-yellow-shade-2--forty: rgba(161, 147, 50, 0.4);
  --color-yellow-shade-2--fifty: rgba(161, 147, 50, 0.5);
  --color-yellow-shade-2--sixty: rgba(161, 147, 50, 0.6);
  --color-yellow-shade-2--seventy: rgba(161, 147, 50, 0.7);
  --color-yellow-shade-2--eighty: rgba(161, 147, 50, 0.8);
  --color-yellow-shade-2--ninety: rgba(161, 147, 50, 0.9);
  --color-dark-grey-shade-1--ten: rgba(54, 54, 54, 0.1);
  --color-dark-grey-shade-1--twenty: rgba(54, 54, 54, 0.2);
  --color-dark-grey-shade-1--thirty: rgba(54, 54, 54, 0.3);
  --color-dark-grey-shade-1--forty: rgba(54, 54, 54, 0.4);
  --color-dark-grey-shade-1--fifty: rgba(54, 54, 54, 0.5);
  --color-dark-grey-shade-1--sixty: rgba(54, 54, 54, 0.6);
  --color-dark-grey-shade-1--seventy: rgba(54, 54, 54, 0.7);
  --color-dark-grey-shade-1--eighty: rgba(54, 54, 54, 0.8);
  --color-dark-grey-shade-1--ninety: rgba(54, 54, 54, 0.9);
  --color-dark-grey-shade-2--ten: rgba(44, 44, 44, 0.1);
  --color-dark-grey-shade-2--twenty: rgba(44, 44, 44, 0.2);
  --color-dark-grey-shade-2--thirty: rgba(44, 44, 44, 0.3);
  --color-dark-grey-shade-2--forty: rgba(44, 44, 44, 0.4);
  --color-dark-grey-shade-2--fifty: rgba(44, 44, 44, 0.5);
  --color-dark-grey-shade-2--sixty: rgba(44, 44, 44, 0.6);
  --color-dark-grey-shade-2--seventy: rgba(44, 44, 44, 0.7);
  --color-dark-grey-shade-2--eighty: rgba(44, 44, 44, 0.8);
  --color-dark-grey-shade-2--ninety: rgba(44, 44, 44, 0.9);
  --color-light-grey-shade-1--ten: rgba(177, 177, 177, 0.1);
  --color-light-grey-shade-1--twenty: rgba(177, 177, 177, 0.2);
  --color-light-grey-shade-1--thirty: rgba(177, 177, 177, 0.3);
  --color-light-grey-shade-1--forty: rgba(177, 177, 177, 0.4);
  --color-light-grey-shade-1--fifty: rgba(177, 177, 177, 0.5);
  --color-light-grey-shade-1--sixty: rgba(177, 177, 177, 0.6);
  --color-light-grey-shade-1--seventy: rgba(177, 177, 177, 0.7);
  --color-light-grey-shade-1--eighty: rgba(177, 177, 177, 0.8);
  --color-light-grey-shade-1--ninety: rgba(177, 177, 177, 0.9);
  --color-light-grey-shade-2--ten: rgba(141, 141, 141, 0.1);
  --color-light-grey-shade-2--twenty: rgba(141, 141, 141, 0.2);
  --color-light-grey-shade-2--thirty: rgba(141, 141, 141, 0.3);
  --color-light-grey-shade-2--forty: rgba(141, 141, 141, 0.4);
  --color-light-grey-shade-2--fifty: rgba(141, 141, 141, 0.5);
  --color-light-grey-shade-2--sixty: rgba(141, 141, 141, 0.6);
  --color-light-grey-shade-2--seventy: rgba(141, 141, 141, 0.7);
  --color-light-grey-shade-2--eighty: rgba(141, 141, 141, 0.8);
  --color-light-grey-shade-2--ninety: rgba(141, 141, 141, 0.9);
  --font-family-default: Gotham, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  --font-family-title: Gotham, serif;
  --font-family-icon: Material Icons;
  --font-size-default: 1rem;
  --font-size-h1: 110px;
  --font-size-h2: 80px;
  --font-size-h3: 40px;
  --font-size-h4: 25px;
  --font-size-h5: 20px;
  --font-size-h6: 18px;
  --font-size-h7: 14px;
  --font-size-h8: 12px;
  --font-weight-light: 300;
  --font-weight-default: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 700;
  --font-display-default: swap;
  --line-height-thin: 1;
  --line-height-shallow: 1.2;
  --line-height-default: 1.5;
  --line-height-thick: 1.618;
  --letter-spacing-default: 0;
  --letter-spacing-thin: 0.0625em;
  --letter-spacing-shallow: 0.125em;
  --transition-duration-default: 0.25s;
  --transition-function-default: ease;
  --z-index-below: -1;
  --z-index-root: 0;
  --z-index-default: 1;
  --z-index-above: 2;
  --z-index-modal: 3;
  --z-index-dialog: 4;
  --z-index-notification: 5;
}

/* stylelint-disable */
/* stylelint-enable */
@font-face {
  font-family: 'Gotham';
  font-display: swap;
  font-display: var(--font-display-default);
  font-style: italic;
  font-weight: 400;
  font-weight: var(--font-weight-default);
  src: url("../fonts/gotham-bookitalic-webfont.eot");
  src: url("../fonts/gotham-bookitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-bookitalic-webfont.woff2") format("woff2"), url("../fonts/gotham-bookitalic-webfont.woff") format("woff"), url("../fonts/gotham-bookitalic-webfont.svg#gothambookitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  font-display: swap;
  font-display: var(--font-display-default);
  font-style: default;
  font-weight: 400;
  font-weight: var(--font-weight-default);
  src: url("../fonts/gotham-light-webfont.eot");
  src: url("../fonts/gotham-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-light-webfont.woff2") format("woff2"), url("../fonts/gotham-light-webfont.woff") format("woff"), url("../fonts/gotham-light-webfont.svg#gothamlight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  font-display: swap;
  font-display: var(--font-display-default);
  font-style: default;
  font-weight: 300;
  font-weight: var(--font-weight-light);
  src: url("../fonts/gotham-light-webfont.eot");
  src: url("../fonts/gotham-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-light-webfont.woff2") format("woff2"), url("../fonts/gotham-light-webfont.woff") format("woff"), url("../fonts/gotham-light-webfont.svg#gothamlight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  font-display: swap;
  font-display: var(--font-display-default);
  font-style: default;
  font-weight: 700;
  font-weight: var(--font-weight-semibold);
  src: url("../fonts/gotham-bold-webfont.eot");
  src: url("../fonts/gotham-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-bold-webfont.woff2") format("woff2"), url("../fonts/gotham-bold-webfont.woff") format("woff"), url("../fonts/gotham-bold-webfont.svg#gothambold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Material Icons";
  font-display: swap;
  font-display: var(--font-display-default);
  font-style: normal;
  font-weight: 400;
  font-weight: var(--font-weight-default);
  src: url("../fonts/MaterialIcons-Regular.eot");
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../fonts/MaterialIcons-Regular.woff2") format("woff2"), url("../fonts/MaterialIcons-Regular.woff") format("woff"), url("../fonts/MaterialIcons-Regular.ttf") format("truetype");
}

/* stylelint-disable */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

/* stylelint-enable */
/* stylelint-disable */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
button,
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    background-attachment: initial !important;
    -webkit-animation-play-state: paused !important;
            animation-play-state: paused !important;
    -webkit-transition: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

figure,
figcaption,
blockquote,
fieldset, ul, li {
  border: 0;
  margin: 0;
  padding: 0;
}

/* stylelint-enable */
html {
  background-color: #2b2b2b;
  background-color: var(--color-black);
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior: contain;
  scroll-behavior: smooth;
  scrollbar-color: #2b2b2b #fff;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-variant-numeric: oldstyle-nums;
}

body {
  background-color: #fff;
  background-color: var(--color-white);
  color: #2b2b2b;
  color: var(--color-black);
  width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: "Gotham, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif";
  font-family: var(--font-family-default);
  font-size: 1rem;
  font-size: var(--font-size-default);
  font-style: normal;
  font-weight: 400;
  font-weight: var(--font-weight-default);
  line-height: 1.5;
  line-height: var(--line-height-default);
}

.material-icons,
.icon {
  color: inherit;
  display: inline-block;
  font-family: "Material Icons";
  font-family: var(--font-family-icon);
  font-weight: 400;
  font-weight: var(--font-weight-default);
  font-style: normal;
  font-size: 25px;
  font-size: var(--font-size-h4);
  line-height: 1;
  line-height: var(--line-height-thin);
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  -webkit-font-feature-settings: "liga";
          font-feature-settings: "liga";
}

@-webkit-keyframes reverse {
  0% {
    left: 47px;
    width: 40px;
  }
  60% {
    left: 3px;
    width: 80px;
  }
  100% {
    left: 3px;
  }
}

@keyframes reverse {
  0% {
    left: 47px;
    width: 40px;
  }
  60% {
    left: 3px;
    width: 80px;
  }
  100% {
    left: 3px;
  }
}

@-webkit-keyframes switch {
  0% {
    left: 3px;
  }
  60% {
    left: 3px;
    width: 80px;
  }
  100% {
    left: 47px;
    width: 40px;
  }
}

@keyframes switch {
  0% {
    left: 3px;
  }
  60% {
    left: 3px;
    width: 80px;
  }
  100% {
    left: 47px;
    width: 40px;
  }
}

.toggle--checkbox {
  display: none;
}

.container--toggle {
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 60px;
  position: relative;
  grid-area: toggle;
  margin: 20px;
}

/* background */
.toggle--label {
  width: 100px;
  height: 54px;
  background: var(--indigo-color);
  border-radius: 100px;
  border: 3px solid var(--indigo-border);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: all 350ms ease-in;
  transition: all 350ms ease-in;
}

.toggle--checkbox:checked + .toggle--label {
  background: var(--blue-color);
  border-color: var(--blue-border);
}

/* sun and moon */
.toggle--checkbox:checked + .toggle--label:before {
  -webkit-animation-name: reverse;
          animation-name: reverse;
  -webkit-animation-duration: 350ms;
          animation-duration: 350ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: all 360ms ease-in;
  transition: all 360ms ease-in;
  background: var(--yellow-background);
  border-color: var(--yellow-border);
}

.toggle--label:before {
  -webkit-animation-name: switch;
          animation-name: switch;
  -webkit-animation-duration: 350ms;
          animation-duration: 350ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  content: '';
  width: 40px;
  height: 40px;
  border: 3px solid var(--gray-border);
  top: 1px;
  left: 3px;
  position: absolute;
  border-radius: 40px;
  background: white;
}

/* moon dimples */
.toggle--label:after {
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
  position: absolute;
  content: '';
  -webkit-box-shadow: var(--gray-dots) -14px 0 0 1px, var(--gray-dots) -22px 12px 0 -1px;
          box-shadow: var(--gray-dots) -14px 0 0 1px, var(--gray-dots) -22px 12px 0 -1px;
  left: 80px;
  top: 10px;
  width: 6px;
  height: 6px;
  background: transparent;
  border-radius: 50%;
  opacity: 1;
}

.toggle--checkbox:checked + .toggle--label:after {
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
  opacity: 0;
}

/* clouds */
.toggle--checkbox:checked + .toggle--label .toggle--label-background {
  width: 5px;
  left: 65px;
  top: 22px;
}

.toggle--checkbox:checked + .toggle--label .toggle--label-background:before {
  top: -4px;
  left: -5px;
  width: 20px;
  height: 5px;
}

.toggle--checkbox:checked + .toggle--label .toggle--label-background:after {
  top: 3px;
  width: 20px;
  height: 5px;
  left: -10px;
}

/* stars */
.toggle--label-background {
  border-radius: 5px;
  position: relative;
  background: white;
  left: 32px;
  width: 4px;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
  top: 25px;
  height: 4px;
}

.toggle--label-background:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  top: -15px;
  border-radius: 5px;
  background: white;
  left: -20px;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}

.toggle--label-background:after {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  left: -20px;
  top: 10px;
  border-radius: 5px;
  background: white;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}

/* header/landing page */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: -3px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    top: -3px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

#app {
  border: 2px solid red;
}

/* base container styling */
.main-container {
  background-color: var(--light-background);
  padding-bottom: 100px;
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.container_about, .container_blog, .container_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
  margin: 10px 0px 10px 0px;
}

.section_title {
  margin-top: 20px;
  font-size: 2em;
  font-weight: bold;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: sectionTitle;
  color: var(--light-text);
}

/* work */
.subwork_image {
  max-height: 200px;
  max-width: 200px;
  margin: 10px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: pic;
}

.container_work {
  display: -ms-grid;
  display: grid;
  place-items: center;
      grid-template-areas: "sectionTitle" "thisSite" "gachasphere" "bujo" "knitworthy" "OWS";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin: 10px 0px 10px 0px;
  row-gap: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}

#this {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: thisSite;
}

#gachasphere {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: gachasphere;
}

#BujoToGo {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: bujo;
}

#knitworthy {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: knitworthy;
}

#OWS {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: OWS;
}

.subWork {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "title" "type" "pic" "icons" "text";
  -ms-grid-rows: .1fr .1fr .1fr .1fr 1fr;
      grid-template-rows: .1fr .1fr .1fr .1fr 1fr;
  place-items: center;
  color: var(--dark-text);
  background: var(--accent);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 10px;
}

.this-subWork {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "title" "type" "icons" "text";
  -ms-grid-rows: .1fr .1fr .1fr 1fr;
      grid-template-rows: .1fr .1fr .1fr 1fr;
  place-items: center;
  color: var(--dark-text);
  background: var(--accent);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  margin: 10px 0px 10px 0px;
}

.subwork_title--primary {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}

.subwork_title--secondary {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: type;
}

.subwork_text {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: text;
}

.subwork_links {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: icons;
}

.subWork_container_image {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: pic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.subWork_container_image > img {
  max-height: 200px;
  max-width: 200px;
  margin: 5px;
  padding: 5px;
}

.work_icon {
  width: 50px;
  margin: 10px;
}

#gachaGif {
  border-radius: 10px;
}

/* about */
.subAbout {
  background: var(--accent);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  margin: 10px 0px 10px 0px;
  padding: 20px;
}

.skills-icon {
  width: 60px;
  margin: 20px;
}

.container_skills-icon {
  background: rgba(255, 255, 255, 0.55);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  margin: 0 20% 0 20%;
}

.about_headshot {
  width: 150px;
}

/* contact */
.subContact {
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  margin: 10px 0px 10px 0px;
  background: var(--accent);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subContact_text {
  margin: 20px 10px 10px 10px;
}

.contact-form {
  background: rgba(255, 255, 255, 0.55);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  margin: 10px 10px 30px 10px;
}

.contact-form p {
  margin: 10px;
  padding: 0px;
}

.contact-form input, .message_input {
  margin: 10px;
}

.message, .contact_email, .contact_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.message_input {
  padding: 30px 0px 30px 0px;
}

.contact_button {
  background: none;
  color: var(--dark-text);
  padding: 10px;
  font-size: 16px;
  border: solid 2px transparent;
  margin: 3px;
}

/* blog preview section */
.preview_button {
  color: var(--dark-text);
  font-size: 16px;
  border: solid 2px transparent;
  background: none;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 5px;
}

.scroll-cropper {
  overflow: hidden;
  border-radius: 10px;
  margin: 10px 0px 10px 0px;
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  width: 100%;
}

.blog-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 1000px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  border: none;
  border-radius: 15px;
  background: var(--accent);
  scrollbar-width: thin;
}

.preview_image {
  max-width: 200px;
  margin-bottom: 5px;
}

.preview {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 250px;
  height: 250px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 10px;
  border-radius: 10px;
  padding: 0px 5px 0px 5px;
}

.blog-section_title {
  margin-top: 20px;
  background: none;
  padding: 10px;
  border: solid 2px transparent;
  font-size: 2em;
  font-weight: bold;
  color: var(--light-text);
}

/* full blog */
.blog img {
  max-width: 200px;
  margin: 10px;
}

.article-body-image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog h1:first-of-type {
  font-size: 2em;
}

.blog h1 {
  font-size: 1.5em;
  margin: 10px;
}

.blog h2 {
  font-size: 1em;
  margin: 10px;
}

.blog em {
  font-style: italic;
  font-size: 1em;
  max-width: 250px;
  overflow-wrap: break-word;
}

.full-blog {
  background: var(--light-background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog {
  margin: 10px 0px 10px 0px;
  padding: 20px;
  border-radius: 10px;
  background: var(--accent);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blog ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
}

.blog li {
  list-style-type: disc;
  margin: 10px;
  text-align: left;
}

.highlight__panel {
  display: none;
}

div.highlight {
  background-color: #eee;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

pre.highlight {
  white-space: pre-wrap;
  max-width: 250px;
  overflow-x: auto;
  text-align: left;
}

code {
  padding: 1px 5px 1px 5px;
}

.blog p, .blog blockquote {
  padding: 0px;
  margin: 5px;
  text-align: left;
  width: 50%;
}

/* error and loading graphics */
.container_error {
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  margin: 10px 0px 10px 0px;
  background: var(--accent);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error-graphic {
  padding: 20px 20px 0px 20px;
  max-width: 100px;
}

.loading-graphic {
  padding: 20px 20px 0px 20px;
  max-width: 100px;
}

.error-graphic-main {
  fill: #f8a768;
}

.error-graphic-cream {
  fill: #fffbde;
}

.error-graphic-lines {
  fill: #421d00;
}

.error-graphic_qm-fill {
  fill: #a19ece;
  -webkit-animation-name: colorRotate-fill-hsla;
          animation-name: colorRotate-fill-hsla;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: all 360ms ease-in;
  transition: all 360ms ease-in;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.error-graphic_qm-lines {
  fill: #524f77;
  -webkit-animation-name: colorRotate-fill;
          animation-name: colorRotate-fill;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: all 360ms ease-in;
  transition: all 360ms ease-in;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.error-graphic_qm_dot {
  fill: #a19ece;
  stroke: #524f77;
  stroke-miterlimit: 10;
  stroke-width: 3px;
  -webkit-animation-name: colorRotate-stroke, colorRotate-fill-hsla;
          animation-name: colorRotate-stroke, colorRotate-fill-hsla;
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: all 360ms ease-in;
  transition: all 360ms ease-in;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes colorRotate-fill-hsla {
  0%, 100% {
    fill: rgba(255, 0, 0, 0.2);
  }
  10% {
    fill: rgba(255, 153, 0, 0.2);
  }
  20% {
    fill: rgba(204, 255, 0, 0.2);
  }
  30% {
    fill: rgba(51, 255, 0, 0.2);
  }
  40% {
    fill: rgba(0, 255, 102, 0.2);
  }
  50% {
    fill: rgba(0, 255, 255, 0.2);
  }
  60% {
    fill: rgba(0, 102, 255, 0.2);
  }
  70% {
    fill: rgba(51, 0, 255, 0.2);
  }
  80% {
    fill: rgba(204, 0, 255, 0.2);
  }
  90% {
    fill: rgba(255, 0, 153, 0.2);
  }
}

@keyframes colorRotate-fill-hsla {
  0%, 100% {
    fill: rgba(255, 0, 0, 0.2);
  }
  10% {
    fill: rgba(255, 153, 0, 0.2);
  }
  20% {
    fill: rgba(204, 255, 0, 0.2);
  }
  30% {
    fill: rgba(51, 255, 0, 0.2);
  }
  40% {
    fill: rgba(0, 255, 102, 0.2);
  }
  50% {
    fill: rgba(0, 255, 255, 0.2);
  }
  60% {
    fill: rgba(0, 102, 255, 0.2);
  }
  70% {
    fill: rgba(51, 0, 255, 0.2);
  }
  80% {
    fill: rgba(204, 0, 255, 0.2);
  }
  90% {
    fill: rgba(255, 0, 153, 0.2);
  }
}

@-webkit-keyframes colorRotate-fill /* Safari and Chrome */ {
  0%, 100% {
    fill: red;
  }
  10% {
    fill: #ff9900;
  }
  20% {
    fill: #ccff00;
  }
  30% {
    fill: #33ff00;
  }
  40% {
    fill: #00ff66;
  }
  50% {
    fill: cyan;
  }
  60% {
    fill: #0066ff;
  }
  70% {
    fill: #3300ff;
  }
  80% {
    fill: #cc00ff;
  }
  90% {
    fill: #ff0099;
  }
}

@keyframes colorRotate-fill /* Safari and Chrome */ {
  0%, 100% {
    fill: red;
  }
  10% {
    fill: #ff9900;
  }
  20% {
    fill: #ccff00;
  }
  30% {
    fill: #33ff00;
  }
  40% {
    fill: #00ff66;
  }
  50% {
    fill: cyan;
  }
  60% {
    fill: #0066ff;
  }
  70% {
    fill: #3300ff;
  }
  80% {
    fill: #cc00ff;
  }
  90% {
    fill: #ff0099;
  }
}

@-webkit-keyframes colorRotate-stroke /* Safari and Chrome */ {
  0%, 100% {
    stroke: red;
  }
  10% {
    stroke: #ff9900;
  }
  20% {
    stroke: #ccff00;
  }
  30% {
    stroke: #33ff00;
  }
  40% {
    stroke: #00ff66;
  }
  50% {
    stroke: cyan;
  }
  60% {
    stroke: #0066ff;
  }
  70% {
    stroke: #3300ff;
  }
  80% {
    stroke: #cc00ff;
  }
  90% {
    stroke: #ff0099;
  }
}

@keyframes colorRotate-stroke /* Safari and Chrome */ {
  0%, 100% {
    stroke: red;
  }
  10% {
    stroke: #ff9900;
  }
  20% {
    stroke: #ccff00;
  }
  30% {
    stroke: #33ff00;
  }
  40% {
    stroke: #00ff66;
  }
  50% {
    stroke: cyan;
  }
  60% {
    stroke: #0066ff;
  }
  70% {
    stroke: #3300ff;
  }
  80% {
    stroke: #cc00ff;
  }
  90% {
    stroke: #ff0099;
  }
}

/* button animations */
button:hover, button:focus, button:active {
  outline: none;
  cursor: pointer;
}

.header_button:hover, .header_button:focus {
  background-color: #292929;
  color: #F9F8F8;
}

.header_button:hover .button_arrow, .header_button:focus .button_arrow {
  stroke: #F9F8F8;
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.nav_button:hover, .nav_button:focus, .nav_button:active {
  border: solid 2px var(--button-border);
}

.contact_button:hover, .contact_button:focus, .contact_button:active, .preview_button:hover, .preview_button:focus, .preview_button:active {
  cursor: pointer;
  border: solid 2px var(--dark-text);
}

.blog-section_title:hover, .blog-section_title:focus, .blog-section_title:active {
  cursor: pointer;
  border: solid 2px var(--button-border);
}

/* react transition group animations */
.header-enter, .navBar-enter, .mainFull-enter, .single-enter {
  opacity: 0.01;
}

.header-enter-active, .navBar-enter-active, .mainFull-enter-active, .single-enter-active {
  opacity: 1;
  -webkit-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}

.header-exit, .navBar-exit, .mainFull-exit, .single-exit {
  opacity: 1;
}

.header-exit-active, .navBar-exit-active, .mainFull-exit-active, .single-exit-active {
  opacity: 0.01;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
}

/* links */
a:link, a:visited {
  color: var(--dark-text);
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: pointer;
}

a:hover, a:focus, a:active {
  color: var(--light-background);
}

/* media queries */
@media screen and (min-width: 350px) {
  .error-graphic, .loading-graphic {
    max-width: 150px;
  }
  .about_headshot {
    width: 300px;
  }
  .subWork_container_image > img, .subwork_image {
    max-width: 300px;
  }
  .subWork, .subAbout, .scroll-cropper, .this-subWork {
    margin: 10px;
  }
  .container_about, .container_blog, .container_contact, .container_work {
    margin: 20px;
  }
  .message_input {
    margin-left: 5px;
  }
  .contact-form {
    min-width: 300px;
  }
  .container_error {
    margin: 30px;
  }
  .preview_image {
    max-width: 250px;
  }
  .preview {
    width: 300px;
    height: 200px;
    margin: 15px;
  }
  pre.highlight {
    max-width: 300px;
  }
  .scroll-cropper {
    width: 95%;
  }
}

@media screen and (min-width: 525px) {
  .error-graphic, .loading-graphic {
    max-width: 200px;
  }
  .preview_image {
    max-width: 400px;
  }
  .preview {
    width: 350px;
    height: 300px;
    margin: 15px;
  }
  .blog img {
    max-width: 250px;
  }
  pre.highlight {
    max-width: 500px;
  }
}

@media screen and (min-width: 700px) {
  .subWork_container_image > img, .subwork_image {
    max-width: 200px;
    max-height: 200px;
  }
  .subWork {
        grid-template-areas: "title text" "type text" "pic text" "icons text";
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -ms-grid-columns: .25fr 1fr;
        grid-template-columns: .25fr 1fr;
    margin: 20px;
  }
  .this-subWork {
        grid-template-areas: "title text" "type text" "icons text";
    -ms-grid-rows: .5fr .1fr 1fr;
        grid-template-rows: .5fr .1fr 1fr;
    -ms-grid-columns: .25fr 1fr;
        grid-template-columns: .25fr 1fr;
    margin: 20px;
  }
  .subAbout, .subContact, .blog {
    margin: 20px;
  }
  .scroll-cropper {
    width: 95%;
    margin: 20px;
  }
  .blog-preview {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 99.9%;
    overflow-y: hidden;
    overflow-x: scroll;
  }
  .preview_image {
    max-width: 350px;
  }
  .blog img {
    max-width: 300px;
  }
  pre.highlight {
    max-width: 650px;
  }
  .work_icon {
    padding-bottom: 20px;
  }
  .contact-form {
    min-width: 600px;
    padding: 15px;
  }
  .container_error {
    margin: 30px 40px 30px 40px;
  }
  .message, .contact_name, .contact_email {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 800px) {
  .subWork_container_image > img, .subwork_image {
    max-width: 300px;
  }
}

@media screen and (min-width: 900px) {
  .subWork_container_image > img, .subwork_image {
    max-width: 400px;
  }
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .blog img {
    max-width: 500px;
  }
  pre.highlight {
    max-width: 100%;
  }
  .subContact {
    width: 98%;
  }
  .scroll-cropper {
    width: 96%;
  }
}

@media screen and (min-width: 1200px) {
  .scroll-cropper {
    width: 98%;
  }
  .blog em {
    max-width: 500px;
  }
}

@media (prefers-reduced-motion) {
  .error-graphic_qm-fill, .error-graphic_qm-lines, .error-graphic_qm-lines {
    -webkit-animation-name: dissolve;
            animation-name: dissolve;
  }
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
}

.bg {
  -webkit-animation: slide 3s ease-in-out infinite alternate;
          animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #b8dbd9 50%, #586F7C 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: 1;
}

.bg2 {
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.bg3 {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@media (prefers-reduced-motion) {
  .bg, .bg2, .bg3 {
    -webkit-animation-name: dissolve;
            animation-name: dissolve;
  }
}

.main-ui {
  max-width: 800px;
  margin: 0 auto;
}

.our-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.status {
  text-align: center;
  font-size: 0.85rem;
}

.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.progress {
  border: 1px solid #c7c7c7;
  border-right: none;
  position: relative;
}

.progress-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #cc5200;
  opacity: 0.57;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center left;
          transform-origin: center left;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}

.box {
  height: 40px;
  border-right: 1px solid #c7c7c7;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.82);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.33s ease-out;
  transition: all 0.33s ease-out;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.overlay-inner {
  text-align: center;
  max-width: 700px;
}

body.overlay-is-open .overlay,
.overlay--visible {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

body.overlay-is-open .main-ui,
.blurred {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

@-webkit-keyframes showError {
  50% {
    color: red;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    color: #333;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes showError {
  50% {
    color: red;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    color: #333;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.animate-wrong {
  -webkit-animation: 0.45s showError;
          animation: 0.45s showError;
}

.problem {
  font-size: 5rem;
  margin: 0;
  text-align: center;
}

.end-message {
  font-size: 1.5rem;
  margin-top: 0;
}

.reset-button {
  font-size: 1.2rem;
  background-color: #004094;
  border: none;
  color: #fff;
  border-radius: 7px;
  padding: 12px 20px;
  display: inline-block;
  outline: none;
  cursor: pointer;
}

.reset-button:hover {
  background-color: #00367e;
}

.reset-button:focus {
  background-color: #00275a;
}

header {
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.header_text {
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  color: #292929;
}

.header_name {
  padding: 20px 20px 0px 20px;
  font-weight: 700;
}

.header_title {
  padding: 10px;
  margin-top: 0px;
  font-weight: 500;
}

.header_button {
  grid-area: button;
  width: 150px;
  border: solid 3px #292929;
  margin: auto;
  padding: 15px 10px 15px 10px;
  color: #292929;
  background: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
}

.button_arrow {
  height: 15px;
  padding-left: 10px;
  position: relative;
}

/* navbar */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  grid-area: nav;
  background-color: var(--dark-background);
  padding: 20px;
  outline: none;
}

.nav_button {
  background-color: var(--dark-background);
  color: var(--light-text);
  padding: 10px;
  font-size: 16px;
  border: solid 2px transparent;
  margin: 3px;
}
/*# sourceMappingURL=style.css.map */